<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <div class="container">
    <h2>Sign-in to OneCRM</h2>
    <p class="login-text">
      Welcome to our CRM platform, where efficiency meets organization. 
      With our powerful tools and user-friendly interface, we empower you to manage customer relationships, track tickets, resolve issues, and drive exceptional customer satisfaction.
    </p>
    <div class="button-group">
      <a href="/auth/google" class="google-button">Sign in with Google</a>
    </div>
    <p class="login-text">By continuing, you acknowledge that you have read and understood, and agree to <strong style="color:#C084FC">Terms & Conditions</strong> and <strong style="color:#C084FC">Privacy Policy</strong>.</p>
  </div>
  
</body>
</html>

